.form__grid {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__grid__row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.form__grid__column {
  flex: 1;
  width: 300px;
}

.form label {
  display: block;
  font-size: 0.8rem;
  margin-left: 2px;
  margin-bottom: 5px;
  color: var(--s1-accent-color-dark);
}

.error {
  display: block;
  font-size: 0.8rem;
  margin-right: 2px;
  margin-top: 5px;
  color: red;
  float: right;
}

.form__field {
  margin-bottom: 20px;
}

.form__field input,
select,
textarea {
  font-family: inherit;
  font-size: 0.8rem;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: var(--s1-primary-color-light);
  color: var(--s1-accent-color-light);
  border: 2px solid var(--s1-primary-color);
  width: 100%;
}

.form__field textarea {
  resize: none;
}

.form__field input:focus,
.form__field select:focus,
.form__field textarea:focus {
  border-color: #f775c1;
  outline: none;
}

.form__submit button {
  background-image: linear-gradient(to right, #f073c8, #ff6a95);
  border-radius: 5px;
  width: 300px;
  padding: 12px 15px;
  font-size: 1rem;
  color: var(--s1-accent-color-light);
  border: none;
  cursor: pointer;
}

.form__field [type="file"] {
  display: none;
}

.custom__file__field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.custom__file__upload {
  border: 2px solid var(--s1-primary-color);
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  width: fit-content;
  background-color: var(--s1-primary-color-light);
}

#fileError {
  font-size: 0.8rem;
  color: red;
  float: right;
}

#fileName {
  font-size: 0.8rem;
  color: var(--s1-accent-color-dark);
  float: left;
  margin-left: 2px;
}

/* Media Queries for Tablets and Mobile Devices */

@media screen and (max-width: 756px) {
  .form__grid__row {
    flex-direction: column;
    gap: 10px;
  }
}
