.page__not__found__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    background-color: var(--s1-accent-color-light);
}

.page__not__found__container p{
    font-size: 2.5rem;
}

.page__not__found__container button{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--s1-primary-color);
    color: var(--s1-accent-color-light);
    cursor: pointer;
    border-radius: 10px;
}

