:root {
  --s2-bg-color: #11141d;
  --s2-box-bg-color: #212437;
  --s2-accent-color-1: #feffff;
  --s2-accent-color-2: #3dbed6;
}

.screen2__container {
  width: 100vw;
  height: auto;
  background-color: var(--s2-bg-color);
  color: var(--s2-accent-color-1);
  padding-block: 60px;
  font-family: "Poppins", sans-serif;
}

.block__container {
  display: flex;
  flex-direction: row;
}

.cube__container1,
.cube__container2 {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.cube__container2 {
  border-left: 3px dashed var(--s2-accent-color-1);
}

.block__details__container {
  border-top: 3px solid var(--s2-accent-color-1);
  margin-top: 50px;
  width: 85%;
  margin-inline: auto;
}

.block__details__grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block__details__grid__row {
  background-color: #202537;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  gap: 30px;
}

.block__details__grid__row:nth-of-type(1) {
  background-color: transparent;
  padding: 15px 15px 15px 0;
  align-items: center;
}

.block__details__grid__row:nth-of-type(3) {
  background-color: transparent;
  padding: 15px 0 15px 0;
}

.block__details__grid__row:nth-of-type(3) .block__details__grid__column2 {
  display: flex;
  justify-content: flex-end;
}

.block__details__grid__row:nth-of-type(4) {
  background-color: var(--s2-bg-color);
  padding: 0;
}

.block__details__grid__column1,
.block__details__grid__column2 {
  flex: 1;
}

.block__details__grid__column1 table,
.block__details__grid__column2 table {
  width: 100%;
  border-spacing: 0;
  font-size: 1rem;
  table-layout: fixed;
}
.block__details__grid__column1 td,
.block__details__grid__column2 td {
  padding: 15px 18px;
  display: table-cell;
}

.block__details__grid__column1 td p {
  word-wrap: break-word;
  width: 100%;
}

.block__details__grid__column1 tr:nth-of-type(odd),
.block__details__grid__column2 tr:nth-of-type(odd) {
  background-color: var(--s2-bg-color);
}

.block__details__grid__column2 tr td:last-of-type {
  padding-block: 0;
}

.closeBtn {
  float: right;
  cursor: pointer;
  width: fit-content;
}

#block_text {
  font-size: 2.5rem;
  font-weight: 600;
}

#block_no {
  color: var(--s2-accent-color-2);
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

#spiderpool {
  background-color: #154da5;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: 600;
}

#color_blue {
  color: var(--s2-accent-color-2);
  display: inline-block;
}

#hash_icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  vertical-align: middle;
}

@media screen and (max-width: 756px) {
  .screen2__container {
    padding-top: 0;
    overflow-x: hidden;
  }
  .block__container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 60px 0 10px 30px;
    width: 95%;
  }

  .cube__container2 {
    padding-left: 50px;
  }

  .block__details__container {
    margin-top: 30px;
    width: 90%;
  }

  .block__details__grid__row {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .block__details__grid__row:nth-of-type(1) {
    flex-direction: row;
  }

  .block__details__grid__row:nth-of-type(3) {
    gap: 15px;
    align-items: flex-start;
  }

  #block_text {
    font-size: 1.2rem;
  }

  #spiderpool {
    background-color: #154da5;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: 600;
  }

  .block__details__grid__row:nth-of-type(3) .block__details__grid__column2 {
    display: flex;
    justify-content: flex-start;
  }
}
