:root {
  --s2-bg-color: #11141d;
  --s2-box-bg-color: #212437;
  --s2-accent-color-1: #feffff;
  --s2-accent-color-2: #3dbed6;
}

.screen2__container {
  width: 100vw;
  height: auto;
  background-color: var(--s2-bg-color);
  color: var(--s2-accent-color-1);
  padding-block: 60px;
  font-family: "Poppins", sans-serif;
}

.block__container {
  display: flex;
  flex-direction: row;
}

.cube__container1,
.cube__container2 {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.cube__container2 {
  border-left: 3px dashed var(--s2-accent-color-1);
}

.block__details__container {
  border-top: 3px solid var(--s2-accent-color-1);
  margin-top: 50px;
  width: 85%;
  margin-inline: auto;
}

.block__details__grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block__details__grid__row {
  background-color: #202537;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  gap: 30px;
}

.block__details__grid__row:nth-of-type(1) {
  background-color: transparent;
  padding: 15px 15px 15px 0;
  align-items: center;
}

.block__details__grid__row:nth-of-type(3) {
  background-color: transparent;
  padding: 15px 0 15px 0;
}

.block__details__grid__row:nth-of-type(3) .block__details__grid__column2 {
  display: flex;
  justify-content: flex-end;
}

.block__details__grid__row:nth-of-type(4) {
  background-color: var(--s2-bg-color);
  padding: 0;
}

.block__details__grid__column1,
.block__details__grid__column2 {
  flex: 1;
}

.block__details__grid__column1 table,
.block__details__grid__column2 table {
  width: 100%;
  border-spacing: 0;
  font-size: 1rem;
  table-layout: fixed;
}
.block__details__grid__column1 td,
.block__details__grid__column2 td {
  padding: 15px 18px;
  display: table-cell;
}

.block__details__grid__column1 td p{
  word-wrap: break-word;
  width: 100%;
}

.block__details__grid__column1 tr:nth-of-type(odd),
.block__details__grid__column2 tr:nth-of-type(odd) {
  background-color: var(--s2-bg-color);
}

.block__details__grid__column2 tr td:last-of-type {
  padding-block: 0;
}

.closeBtn {
  float: right;
  cursor: pointer;
  width: fit-content;
}

#block_text {
  font-size: 2.5rem;
  font-weight: 600;
}

#block_no {
  color: var(--s2-accent-color-2);
  display: inline-block;
  font-family: "Poppins", sans-serif;
}



.transaction__details__grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.transaction__details__row {
  background-color: #202537;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  font-size: 1rem;
}
.transction__details__column {
  flex: 1;
}

.transaction__id {
  color: var(--s2-accent-color-2);
}

.transaction__timestamp {
  text-align: right;
}





#btc_price {
  color: green;
  display: inline-block;
}

#spiderpool {
  background-color: #154da5;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: 600;
}

/* #hash {
  display: flex;
  align-items: center;
  gap: 5px;
}

#hash_value {
  color: var(--s2-accent-color-2);
} */

#color_blue {
  color: var(--s2-accent-color-2);
  display: inline-block;
}

#hash_icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  vertical-align: middle;
}

#trans_quant {
  font-size: 2rem;
  font-weight: 600;
}

.transction__details__column1,
.transction__details__column2 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.transaction__details__row:nth-of-type(odd) .transction__details__column2 {
  justify-content: flex-end;
}

.transction__details__column1 table,
.transction__details__column2 table {
  width: 100%;
  border-spacing: 0;
  font-size: 1rem;
}

.transction__details__column1 td,
.transction__details__column2 td {
  padding: 15px 18px;
}

.total__btc__cell {
  float: right;
}

.total__btc {
  text-align: right;
  background-color: #154da5;
  width: fit-content;
  padding: 8px;
}

.arrow__red {
  color: red;
}
.arrow__green {
  color: green;
}
.arrow__grey {
  color: grey;
}

.arrow__margin__left {
  margin-left: 10px;
}
.arrow__margin__right {
  margin-right: 10px;
}

#multisig {
  background-color: #f5d525;
  color: #000;
  width: fit-content;
  padding: 0 12px;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 5px;
  font-size: 0.8rem;
}

.pagination__container {
  background-color: #1c1f2c;
  height: 100%;
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.pagination__container .span {
  flex: 1;
  height: 100%;
  cursor: pointer;
  padding-inline: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--s2-accent-color-2);
  font-size: 1rem;
}

.active {
  background-color: #5d359a;
  color: var(--s2-accent-color-1) !important;
}

.alpha{
  display: flex;
  align-items: flex-start;
}

.beta{
  display: inline-block;
}

.gamma{
  margin-top: 5px;
  margin-left: 10px;
  background-color: #2f3246;
  padding-inline: 5px;
  width: fit-content;
}


@media screen and (max-width: 756px) {

  .screen2__container {
    padding-top: 0;
    overflow-x: visible;
  }
  .block__container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 60px 0 10px 30px;
    /* scrollbar-width: 0; */
    width: 95%;
  }

  .cube__container2 {
    padding-left: 50px;
  }

  .block__details__container {
    margin-top: 30px;
    width: 90%;
  }

  .block__details__grid__row {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .block__details__grid__row:nth-of-type(1) {
    flex-direction: row;
  }

  .block__details__grid__row:nth-of-type(3) {
    gap: 15px;
    align-items: flex-start;
  }

  #block_text {
    font-size: 1.2rem;
  }

  #spiderpool {
    background-color: #154da5;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: 600;
  }

  .block__details__grid__row:nth-of-type(3) .block__details__grid__column2 {
    display: flex;
    justify-content: flex-start;
  }

  .pagination__container {
    width: 100%;
    align-items: center;
  }
  
  .pagination__container .span {
    padding-inline: 7.8px;
    padding-block: 10px;
  }

  .transaction__id {
    width: 100%;
    word-wrap: break-word;
  }

  .transaction__details__row {
    background-color: #202537;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    font-size: 1rem;
  }

  .transaction__details__row:nth-of-type(
    odd
  ){
    gap: 10px;
  }

  .transaction__details__row:nth-of-type(
    odd
  ) .transction__details__column2{
    justify-content: flex-start;
  }

  .transction__details__column1 td,
.transction__details__column2 td {
  padding: 5px 8px;
  display: table;
}

.transction__details__column1 table,
.transction__details__column2 table {
  table-layout: fixed;
}

}
