* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: auto;
    font-size: 20px;
    overflow-x: hidden;
  }

  .page__wrapper{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reset__navlink{
    text-decoration: none;
    color: #fff;
  }